body {
  background-color: white;
  margin: 0 auto;
}


#heading {
  font-family: 'Courier New', Courier, monospace;
  padding-top: 12px;
  color: black;
  margin: 0 auto;
  padding-bottom: 10px;
}

.btnDevour {
    background-color: sandybrown;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-display: bold;
    font-size: 18px;
    padding: 5px 20px 5px 20px;
  }

.burgerType {
  font-size: 18px;
  text-align: center;
  line-height: 0.5em;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

#btnCreate {
  background-color: blue;
  font-family: 'Courier New', Courier, monospace;
  font-display: bold;
  color: white;
  font-size: 18px;
  padding: 5px 20px 5px 20px;
}

#textArea {
  height: 25px;
}

.heading {
  font-size: 18px;
  text-align: center;
  line-height: 0.5em;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}