body {
  background-color: white;
  margin: 0 auto;
  padding: 500px;
}

.add {
  margin: 0 auto;
}

#heading {
  font-family: 'Courier New', Courier, monospace;
  padding-top: 12px;
  color: black;
  margin: 0 auto;
  padding-bottom: 10px;
}

#btnDevour {
  background-color: chartreuse;
  font-family: 'Courier New', Courier, monospace;
  padding-top: 12px;
  margin-bottom: 10px;
  display: inline-block;
  padding-bottom: 12px;
}

#burgerType {
  font-size: 18px;
  color: aquamarine;
  font-family: 'Courier New', Courier, monospace;
  padding-top: 12px;
}

#btnCreate {
  background-color: chartreuse;
  font-family: 'Courier New', Courier, monospace;
  padding-top: 12px;
  margin-bottom: 10px;
  display: inline-block;
  padding-bottom: 12px;
}

#textArea {
  height: 20px;
}